In [1]:
#you have print a range
# first line starting point
# second line ending point
# step variable 

#sample input -> 
#1
#5
#1
#output --> 
#1   2   3   4   5

#sample input --> 
#1
#10
#3
#output --> 
# 1    4    7    10

In [2]:
start,end,step = map(int,input().split())
print(start,end,step)

1 4 2
1 4 2

In [4]:
string = input().split() # [ '1','2','3']
print(string)
r = []
i = 0 
while i < len(string) : 
    r.append(int(string[i]))
    i += 1
print(r)

1 2 3 4 5 6
['1', '2', '3', '4', '5', '6']
[1, 2, 3, 4, 5, 6]

In [5]:
r = list(map(int,input().split()))
print(r)

1 2 3 4 5
[1, 2, 3, 4, 5]

In [9]:
start,end,step = map(int,input().split())

while start <= end : 
    print(start)
    start += step

20 10 -1

In [11]:
range(10)

range(0, 10)

In [12]:
x = range(10)
print(x)

range(0, 10)

In [13]:
x = range(10)
print(*x)

0 1 2 3 4 5 6 7 8 9

In [14]:
print(*range(5))

0 1 2 3 4

In [15]:
print(*range(11,20))

11 12 13 14 15 16 17 18 19

In [16]:
print(*range(1,10,2))

1 3 5 7 9

In [18]:
print(*range(10,1,-1))

10 9 8 7 6 5 4 3 2

In [19]:
print(*range(-10,-1))

-10 -9 -8 -7 -6 -5 -4 -3 -2

In [20]:
print(*range(-10,5,2))

-10 -8 -6 -4 -2 0 2 4

In [21]:
print(*range(13,130,13))

13 26 39 52 65 78 91 104 117

In [22]:
n = int(input("Enter a number : "))
print(*range(n,n*10+1,n))

Enter a number : 5
5 10 15 20 25 30 35 40 45 50

In [25]:
#for loop is used iterate through sequences
l = [ 'java','python','c','c++']

i = 0
while i < len(l) : 
    print(l[i]) #iteration
    i = i + 1

java
python
c
c++

In [26]:
l = [ 'java','python','c','c++']
for item in l : 
    print(item)

java
python
c
c++

In [28]:
s = 'python'
for char in s : 
    print(char)

p
y
t
h
o
n

In [29]:
d = { 'name':'python','version':3.7,'father':'Guido Van Rossum',
    'release':1994,}

In [30]:
d

{'father': 'Guido Van Rossum',
 'name': 'python',
 'release': 1994,
 'version': 3.7}

In [31]:
for somevalue in d : 
    print(somevalue)

name
version
father
release

In [32]:
for somevalue in d.keys() : 
    print(somevalue)

name
version
father
release

In [33]:
for somevalue in d.values() : 
    print(somevalue)

python
3.7
Guido Van Rossum
1994

In [34]:
for somevalue in d.items() : 
    print(somevalue)

('name', 'python')
('version', 3.7)
('father', 'Guido Van Rossum')
('release', 1994)

In [37]:
for somevalue in d.items() : 
    print(*somevalue,sep='\t=\t')

name	=	python
version	=	3.7
father	=	Guido Van Rossum
release	=	1994

In [41]:
for key,value in d.items():
    print(f"{key} = {value}")

name = python
version = 3.7
father = Guido Van Rossum
release = 1994

In [39]:
d.items()

dict_items([('name', 'python'), ('version', 3.7), ('father', 'Guido Van Rossum'), ('release', 1994)])

In [42]:
for x,y,z in [ ('hi','hello','bye'),(1,2,3),(4,5,6)] : 
    print(x,y,z,sep='\t',end='\n\n')

hi	hello	bye

1	2	3

4	5	6

In [43]:
for one,two in ['py','hi',(1,2),{'1':2,2:'3'}] : 
    print(one,two,sep=', ',end='\n\n')

p, y

h, i

1, 2

1, 2

In [44]:
l1 = [ 1,2,3,4,5,6]
l2 = [ 5,4,3,2,1,0]

print(*zip(l1,l2))

(1, 5) (2, 4) (3, 3) (4, 2) (5, 1) (6, 0)

In [49]:
from math import sqrt
r = []
for var1,var2 in zip(l1,l2) : 
    r.append(round(sqrt((var1**2+var2**2)),2))

In [50]:
print(l1)
print(l2)
print(r)

[1, 2, 3, 4, 5, 6]
[5, 4, 3, 2, 1, 0]
[5.1, 4.47, 4.24, 4.47, 5.1, 6.0]

In [52]:
r = [ var**2 for var in range(1,10) ]
r

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [53]:
r = [ round(sqrt(var1**2+var2**2),2) for var1,var2 in zip(l1,l2)]

In [55]:
r

[5.1, 4.47, 4.24, 4.47, 5.1, 6.0]

In [63]:
from random import randint

num = [ randint(1,50) for var in range(20) ]

In [64]:
num

[50, 15, 36, 45, 21, 8, 11, 33, 1, 3, 38, 36, 13, 13, 46, 13, 23, 28, 23, 45]

In [58]:
l = [ var for var in range(11) if var%2 ]

In [59]:
l

[1, 3, 5, 7, 9]

In [60]:
print(*range(1))

0

In [65]:
for var in range(1,11):
    print(var)
else : 
    print("All good")

1
2
3
4
5
6
7
8
9
10
All good

In [66]:
s = "Python"

In [67]:
print(s)

Python

In [68]:
s1 = iter("Python")

In [69]:
s1

In [70]:
print(s1)

<str_iterator object at 0x7f303450cbe0>

In [71]:
next(s1)

'P'

In [72]:
next(s1)

'y'

In [73]:
#for using while

s = "Python"
s1 = iter(s)
while True : 
    print(next(s1))

P
y
t
h
o
n

StopIteration:

In [79]:
l = [ var**5 for var in range(1000000)]

l.__sizeof__()

8697440

l = []
c =9999
while True : 
    l.append(c**424)
    c += 29872894