In [1]:
print('hello world')

hello world

In [2]:
def evenOdd(num):
    if num % 2 == 0 : 
        return "Even"
    return "Odd"

In [3]:
evenOdd(16)

'Even'

In [4]:
evenOdd(19)

'Odd'

In [6]:
print("Hello world") if False else print("Bye World")

Bye World

In [7]:
def hello():
    print("Hello World")

In [8]:
hello()

Hello World

In [9]:
hello  = lambda : print("Hello world")

In [10]:
hello()

Hello world

In [12]:
#Anonymous function, in-line function
def hello(name):
    return f"Welcome user {name}"

msg = hello('sachin yadav')
print(msg)

Welcome user sachin yadav

In [13]:
hello = lambda name : f"Welcome user {name}"

In [15]:
msg = hello('sachin yadav')
print(msg)

Welcome user sachin yadav

In [16]:
add = lambda x,y:x+y

In [17]:
add(4,5)

9

In [18]:
#fun_name = lambda arg1,arg2: return_value
#even_odd using lambda
#gretest among 3
#summation of arguments
#squre list of arguments

In [19]:
eve_odd  = lambda num : "EVEN" if num % 2 ==0 else "ODD"
print(eve_odd(15))
print(eve_odd(20))

ODD
EVEN

In [20]:
def greatest(x,y,z):
    if x >= y and x >= z : 
        return x
    else : 
        if y >= z : 
            return y
        else : 
            return z

In [22]:
greatest(4,47,43)

47

In [23]:
greatest = lambda x,y,z : x if x >= y and x >= z else y if y >= z else z

In [24]:
greatest(1,2,3)

3

In [25]:
greatest(5,6,5)

6

In [26]:
#squre list of arguments
#squrelist(1,2,3) --> [ (1,1), (2,4), (3,9) ]
#squrelist(1,3,5,6) --> [ (1,1), (3,9), (5,25), (6,36)]


#factorial using recurrsion in lambda
#prime using recurrsion in lambda
#cumsum prime --> cummulitive sum 
#cumsum(1,2,3,4,5) --> [ 1,3,6,10,15]

In [40]:
summation = lambda *args:dict([ (var,var**2) for var in args ])

In [41]:
summation(1,2,3,4,5)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [56]:
summation = lambda c=0,*args : 0 if c == len(args)-1 else \
args[c]+summation(c+1,*args)

In [57]:
summation(1,2,3,4)

3

In [58]:
fact = lambda num : 1 if num == 1 else num*fact(num-1)
fact(10)

3628800

In [59]:
fact(5)

120

In [60]:
def prime(num,check=2):
    if check == num //2 : 
        return True
    else : 
        if num % check == 0 : 
            return False
        else : 
            return prime(num,check+1)
prime(121)

False

In [61]:
prime(127)

True

In [65]:
prime = lambda num,check=2 : True if check == num // 2 + 1 else False if \
num % check == 0 else prime(num,check+1)

In [63]:
prime(121)

False

In [64]:
prime(127)

True

In [66]:
#map 

x = input().split()
print(x)

1 2 3 4 5 6 7 8 9 10
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [68]:
def convert(string_list) : 
    #int_list = []
    #for var in string_list : 
        #int_var = int(var)
        #int_list.append(int_var)
    #return int_list
    return [ int(var) for var in string_list] #mapping

result = convert(['1','54','23'])
print(result) # [1,54,23]

[1, 54, 23]

In [69]:
#syntax of map  --> iterator = map(function,seq1,seq2)
result = map(int,['1','5','9','13'])

In [70]:
result

In [71]:
next(result)

1

In [72]:
print(*result)

5 9 13

In [73]:
#syntax of map  --> iterator = map(function,seq1,seq2)
result = list(map(int,['1','5','9','13']))

In [74]:
result

[1, 5, 9, 13]

In [76]:
array = list(map(int,input().split()))

1 2 3 4 5 6 7 8 9 10

In [77]:
array

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [81]:
array_sequre = list(map(lambda arg:arg**2,array))

1 2 3 4 5 6 7 8 9 10

In [82]:
array_sequre

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [84]:
squre = list(map(lambda arg:arg**2,map(int,input().split())))

1 6 4 2 45 32 23 43

In [85]:
squre

[1, 36, 16, 4, 2025, 1024, 529, 1849]

In [92]:
#first line --> array
#secon lint --> array
#summation of arrays
# you can max three lines for code one for print

#sample input
# 1 2 3 4 5 6 7 8
# 4 5 6 7 8 9 1 2
# 5 7 9 11 13 15 8 10

array1 = list(map(int,input().split()))
array2 = list(map(int,input().split()))
r = list(map(lambda x,y:x+y,array1,array2))
print(*array1)
print(*array2)
print(*r)

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4
2 4 6 8

In [93]:
print(*map(lambda x,y:x+y,map(int,input().split()),map(int,input().split())))

1 2 3 4 5
6 7 8 9 10
7 9 11 13 15

In [96]:
x =  [ 1,2,3,4,5,6]
y = [ 3,2,3,4,5,6]
# x**2 + y**2 # [ 10,8,18,32,50,72]

r = list(map(lambda p,q:p**2+q**2,x,y))
print(r)

[10, 8, 18, 32, 50, 72]

In [101]:
#even 
# [ 1,2,3,4,5,6,7,8,9,10]
# [ 2,4,6,8,10]


num = list(map(int,input().split()))
evenodd = lambda n : True if n % 2 == 0 else False
even = list(filter(evenodd,num))
print(even)

1 2 3 4 5 6 7 8 9 10
[2, 4, 6, 8, 10]

In [103]:
from functools import reduce

In [114]:
def prime(num):
    for var in range(2,num//2+2) : 
        if num % var == 0 : 
            return False
    else : 
        return True

seq = list(map(int,input().split()))

result = list(filter(prime,seq))
print(result)
s = reduce(lambda x,y:x+y,result)
print(s)

1 2 3 4 5 6 7 8 9 10 11
[1, 3, 5, 7, 11]
27

In [111]:
from functools import reduce

In [112]:
sales = [ 500,400,100,56,830,15]
s = 0 
for var in sales : 
    s = s + var
print(s)

1901

In [113]:
r = reduce(lambda x,y:x+y,sales)
print(r)

1901