# we bank data 
# users --> rajat goyal, nidhi sharma, kushal samota, manish jesani, sanjana singh, simaran grover
# acc_no --> 1001, 1002,   1003,   1004,   1005,    1006
# passsword --> redhat,hi@123,me123,hack123,iamcool,hey@123
# bal --> 10000,  15000, 250000, 2000, 11000, 15000

In [1]:
bank = [ 

    [ 'rajat goyal', 1001, 'redhat', 15000],
    [ 'nidhi sharma', 1002, 'heynidhi',10000],
    
        ]

In [2]:
bank = [ 
        [ 1001, 1002, 1003, 1004,],
        [ 'redhat','hi','bye','123'],
        ['ram','shyam','hari','john'],
        [ 1000,12000,10023,12300]
    ]

In [3]:
bank = { 
         1001 : [ 'rajat',15000,'redhat@13'],
        1002 : [ 'nidhi',1600,'hi']
        
            }

In [4]:
bank = { 
    1001 : { 
            'name'  : 'rajat sharma', 'bal' : 15000, 'password' : 'rehdat' } ,
    
    1002 : { 'name ' : 'nidhi sharma', 'bal' : 15500, 'password' : 'heynidhi'},
    
    1003 : { 'name' : 'kushal samota', 'bal' : 12600, 'password' : 'hello'}

}

In [6]:
bank[1001]['bal']

15000

In [7]:
bank[1003]['name']

'kushal samota'

In [8]:
l = [ 1,2,1,2,3,54,32,23,2,11,1,32,1,1,1,]

In [9]:
l

[1, 2, 1, 2, 3, 54, 32, 23, 2, 11, 1, 32, 1, 1, 1]

In [10]:
x = set(l)

In [11]:
x

{1, 2, 3, 11, 23, 32, 54}

In [16]:
s = { 'hello','hi',(1,2,3),[1,2]} #mutable

TypeError: unhashable type: 'list'

In [15]:
s

{(1, 2, 3), 'hello', 'hi'}

In [17]:
s = { 1,2,3,1,2,3,1,1,1,1,1,11,}

In [18]:
s

{1, 2, 3, 11}

In [19]:
s1 = { 1,2,3,4,5,6,7}
s2 = { 5,6,7,8,9,10,11}
s3 = { 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15}

In [20]:
print(type(s1))
print(s1)

<class 'set'>
{1, 2, 3, 4, 5, 6, 7}

In [21]:
print(dir(s1))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [22]:
s1.intersection(s2)

{5, 6, 7}

In [23]:
s1.difference(s2)

{1, 2, 3, 4}

In [24]:
s1 - s2

{1, 2, 3, 4}

In [25]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [32]:
s1.symmetric_difference(s2)

{1, 2, 3, 4, 8, 9, 10, 11}

In [34]:
s1.issubset(s2)

False

In [35]:
s3.issubset(s2)

False

In [36]:
s2.issubset(s3)

True

In [37]:
s3.issuperset(s1)

True

In [39]:
s1.isdisjoint(s2)

False

In [41]:
s4 = { 'hello','hi','bye'}
s1.isdisjoint(s4)

True

In [42]:
s4 = { 'hello','hi','bye',1,2,3}
s1.isdisjoint(s4)

False

In [43]:
s1

{1, 2, 3, 4, 5, 6, 7}

In [44]:
s1.add('hello')

In [45]:
s1

{1, 2, 3, 4, 5, 6, 7, 'hello'}

In [46]:
s1.add?

In [47]:
s1.clear()

In [48]:
s1

set()

In [49]:
s2

{5, 6, 7, 8, 9, 10, 11}

In [50]:
x = {}
print(type(x))

<class 'dict'>

In [51]:
x = set()

In [52]:
x

set()

In [53]:
s1 = s2.copy()

In [56]:
s1.issubset(s2)

True

In [57]:
s1.issuperset(s2)

True

In [59]:
s1 = { 1,7,5,3,4,2,3 }
s2 = { 1,2,8,4,67,'hi','hello'}

In [60]:
s1.difference(s2)

{3, 5, 7}

In [61]:
s1.difference_update(s2)

In [62]:
s1

{3, 5, 7}

In [63]:
s1 = { 1,2,3,4,5,6,7}
s2 = { 5,6,7,8,9,10,11}
s3 = { 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15}

In [65]:
s1.symmetric_difference_update(s2)

In [66]:
s1

{1, 2, 3, 4, 8, 9, 10, 11}

In [67]:
s1.discard(10)

In [68]:
s1

{1, 2, 3, 4, 8, 9, 11}

In [70]:
s1.pop?

In [71]:
s1.pop()

1

In [72]:
s1.remove?

In [73]:
s1

{2, 3, 4, 8, 9, 11}

In [74]:
s1.remove('sachin')

KeyError: 'sachin'

In [75]:
s1.remove(2)

In [76]:
s1

{3, 4, 8, 9, 11}

In [77]:
s1.discard?

In [78]:
s1.discard('sachin')

In [79]:
s1.add?

In [80]:
s1.update?

In [81]:
s1.update([1,2,3])

In [82]:
s1

{1, 2, 3, 4, 8, 9, 11}

In [83]:
s1.update({'a':'b','b':'c'})

In [84]:
s1

{1, 11, 2, 3, 4, 8, 9, 'a', 'b'}

In [85]:
s1.update('python')

In [86]:
s1

{1, 11, 2, 3, 4, 8, 9, 'a', 'b', 'h', 'n', 'o', 'p', 't', 'y'}

In [87]:
s = frozenset([1,2,3,1,2,3,1,23])

In [88]:
s

frozenset({1, 2, 3, 23})