#data

username --> sam, vijay, niraj, rahul
accont no --> 1001, 1002, 1003, 1004
password  ---> hackme@123,@me@you,12345,@123@123
balance  -->   15000, 20000, 25000, 54000

# premitive data type --> int,float,char

# numbers --> int,float,complex

# non-premitive data type
# strings --> "" '', """
# list --> collection of items [ one, two, three]
# tuple --> same as list they immutable
# dict --> key-value pairs { 'name': { '1st' : ['johan','harry'],} 
# set -->  { value1,valu2 } 
# frozen set --> immutable
# boolean --> 

#class
#structure
#link list
#graph
#tree

In [1]:
#username --> sam, vijay, niraj, rahul
#accont no --> 1001, 1002, 1003, 1004
#password  ---> hackme@123,@me@you,12345,@123@123
#balance  -->   15000, 20000, 25000, 54000

data = [ ['sam',1001,'hackme@123'],
         ['vijay',1002,'@me@you'],
         []
        ]

In [2]:
#username --> sam, vijay, niraj, rahul
#accont no --> 1001, 1002, 1003, 1004
#password  ---> hackme@123,@me@you,12345,@123@123
#balance  -->   15000, 20000, 25000, 54000

data = { 'username'  : ['vijay','sam',],
         'password' : [ 1002,1001],
       }

In [5]:
#username --> sam, vijay, niraj, rahul
#accont no --> 1001, 1002, 1003, 1004
#password  ---> hackme@123,@me@you,12345,@123@123
#balance  -->   15000, 20000, 25000, 54000

data = { 1001 : [ 'sam','hackme@123',15000],
         1002 : [ 'vijay','@me@you',20000],
         1003 : [ 'niraj','12345',25000],
         1004 : [ 'rahul', '@123@123',45000]
       }
data[1003]
print(f"Name --> {data[1003][0]}")
print(f"Password --> {data[1003][1]}")
print(f"Balance --> {data[1003][2]}")

Name --> niraj
Password --> 12345
Balance --> 25000

In [6]:
#username --> sam, vijay, niraj, rahul
#accont no --> 1001, 1002, 1003, 1004
#password  ---> hackme@123,@me@you,12345,@123@123
#balance  -->   15000, 20000, 25000, 54000

data = { 1001 : { 'name' : 'sam',
                  'password' : 'hackme@123',
                 'balance' : 15000
                   },
         1002 : { 'name' : 'vijay',
                  'password' : '@me@you',
                 'balance' : 2000
                   },
         1003 : [ 'niraj','12345',25000],
         1004 : [ 'rahul', '@123@123',45000]
       }

In [7]:
data[1002]

{'balance': 2000, 'name': 'vijay', 'password': '@me@you'}

In [8]:
data[1002]['name']

'vijay'

In [9]:
data[1002]['balance']

2000

In [10]:
#Type Conversion --> Type Casting

In [12]:
x = input("Enter a number : ")
y = input("Enter anonter number : ")
print(type(x))
print(type(y))
print(f"Here is your sum --> {x} + {y} = {x+y}")

Enter a number : 5
Enter anonter number : 6
<class 'str'>
<class 'str'>
Here is your sum --> 5 + 6 = 56

In [13]:
#python2 --> raw_input() input()
#pytho3 --> input() --> string

In [17]:
class Person : 
    def __init__(self,name): 
        self.name = name
    def __repr__(self):
        return self.name
    def __str__(self):
        return self.name

x = Person('sachin yadav')
print(type(x))
print(x)

<class '__main__.Person'>
sachin yadav

In [18]:
int
float
complex
str
list
tuple
dict
set
frozenset
bool

chr
ord
bin
oct
hex

In [19]:
int('93847937')

93847937

In [21]:
int("348.34")

ValueError: invalid literal for int() with base 10: '348.34'

In [22]:
x = input("Enter a number : ")
y = input("Enter anonter number : ")
x = int(x)
y = int(y)
print(type(x))
print(type(y))
print(f"Here is your sum --> {x} + {y} = {x+y}")

Enter a number : 5
Enter anonter number : 6
<class 'int'>
<class 'int'>
Here is your sum --> 5 + 6 = 11

In [23]:
float('29387.43')

29387.43

In [24]:
float('937849')

937849.0

In [26]:
float('2344')

2344.0

In [27]:
complex('347')

(347+0j)

In [28]:
complex(34.4)

(34.4+0j)

In [29]:
complex(input("Enter complex number : "))

Enter complex number : 5+6.7j

(5+6.7j)

In [32]:
eval(input("any number"))

any number3545+46j

(3545+46j)

In [33]:
eval('45/5-3')

6.0

In [34]:
str(364)

'364'

In [35]:
str(5.6)

'5.6'

In [36]:
str([1,2,32,3,'hi'])

"[1, 2, 32, 3, 'hi']"

In [37]:
str((1,23,))

'(1, 23)'

In [38]:
str({1:2,3:4})

'{1: 2, 3: 4}'

In [39]:
list('sequence')

['s', 'e', 'q', 'u', 'e', 'n', 'c', 'e']

In [40]:
list(12537864283)

TypeError: 'int' object is not iterable

In [41]:
list([1,2,3,4])

[1, 2, 3, 4]

In [42]:
list(('hi','hello',1,2,3))

['hi', 'hello', 1, 2, 3]

In [43]:
list({1:'hello','name':'python','year':1994})

[1, 'name', 'year']

In [46]:
{1:'hello','name':'python','year':1994}.items()

dict_items([(1, 'hello'), ('name', 'python'), ('year', 1994)])

In [47]:
list({1:'hello','name':'python','year':1994}.keys())

[1, 'name', 'year']

In [48]:
list({1:'hello','name':'python','year':1994}.values())

['hello', 'python', 1994]

In [49]:
list({1:'hello','name':'python','year':1994}.items())

[(1, 'hello'), ('name', 'python'), ('year', 1994)]

In [50]:
list({1,2,3,4,4,5,'hello'})

[1, 2, 3, 4, 5, 'hello']

In [51]:
l = [ 1,2,3,12,3,1,1,3,3,1,2,1,3,2,1,1,3,2,1,3,2,1,3,1,3,2,1,3,]

In [52]:
s = set(l)
print(s)
l = list(s)

{1, 2, 3, 12}

In [53]:
l

[1, 2, 3, 12]

In [54]:
tuple('hello world')

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [55]:
tuple({1:'hello','name':'python','year':1994}.items())

((1, 'hello'), ('name', 'python'), ('year', 1994))

In [57]:
dict([['1','2','3'],['one','two','three']])

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [58]:
{1:'hello','name':'python','year':1994}.items()

dict_items([(1, 'hello'), ('name', 'python'), ('year', 1994)])

In [59]:
d = dict( [  (1,'one'),(2,'two'),(3,'three')  ])

In [60]:
d

{1: 'one', 2: 'two', 3: 'three'}

In [63]:
dict(['AB','CD','de',('will it','work ?')])

{'A': 'B', 'C': 'D', 'd': 'e', 'will it': 'work ?'}

In [64]:
dict("ab cd ef gh ij".split())

{'a': 'b', 'c': 'd', 'e': 'f', 'g': 'h', 'i': 'j'}

In [65]:
"ab cd ef gh ij".split()

['ab', 'cd', 'ef', 'gh', 'ij']

In [66]:
dict([{'one':1,'two':2},'hi',['python',{1:2,2:3}] ])

{'h': 'i', 'one': 'two', 'python': {1: 2, 2: 3}}

In [67]:
set('pytho')

{'h', 'o', 'p', 't', 'y'}

In [68]:
set([1,2,'hi',5.6,('hi','bye',1,23,)])

{('hi', 'bye', 1, 23), 1, 2, 5.6, 'hi'}

In [69]:
set([1,[1,2],{1:2,2:3},'hi','hello'])

TypeError: unhashable type: 'list'

In [70]:
frozenset({1,23,34,4,2,32,32,3,2,32,3,2,32})

frozenset({1, 2, 3, 4, 23, 32, 34})

In [71]:
# True --> 
# False --> 0, '' , emppyty , None, False

In [72]:
bool('hi')

True

In [73]:
bool('')

False

In [74]:
bool({})

False

In [75]:
bool({1,2})

True

In [76]:
bool(None)

False

In [77]:
bool(-1)

True

In [78]:
bool(' ')

True

In [79]:
chr(65)

'A'

In [80]:
chr(122)

'z'

In [81]:
chr(2333)

'झ'

In [82]:
chr(2323) + chr(2335) + chr(2310)

'ओटआ'

In [83]:
l = [ chr(var) for var in range(2310,2399)]

In [85]:
print(l)

['आ', 'इ', 'ई', 'उ', 'ऊ', 'ऋ', 'ऌ', 'ऍ', 'ऎ', 'ए', 'ऐ', 'ऑ', 'ऒ', 'ओ', 'औ', 'क', 'ख', 'ग', 'घ', 'ङ', 'च', 'छ', 'ज', 'झ', 'ञ', 'ट', 'ठ', 'ड', 'ढ', 'ण', 'त', 'थ', 'द', 'ध', 'न', 'ऩ', 'प', 'फ', 'ब', 'भ', 'म', 'य', 'र', 'ऱ', 'ल', 'ळ', 'ऴ', 'व', 'श', 'ष', 'स', 'ह', 'ऺ', 'ऻ', '़', 'ऽ', 'ा', 'ि', 'ी', 'ु', 'ू', 'ृ', 'ॄ', 'ॅ', 'ॆ', 'े', 'ै', 'ॉ', 'ॊ', 'ो', 'ौ', '्', 'ॎ', 'ॏ', 'ॐ', '॑', '॒', '॓', '॔', 'ॕ', 'ॖ', 'ॗ', 'क़', 'ख़', 'ग़', 'ज़', 'ड़', 'ढ़', 'फ़']

In [86]:
ord('ज़')

2395

In [87]:
int('93749374')

93749374

In [90]:
int('abcd',16)

43981

In [92]:
int('10101',2)

21

In [94]:
int('12367',8)

5367

In [95]:
bin(1232132)

'0b100101100110100000100'

In [97]:
hex(15)

'0xf'

In [98]:
oct(123)

'0o173'

In [99]:
#Operators
# Arithmatic -> + , -, * , / , //, %, ** 
# Logical --> and, or, not
# comparesion --> <, > , <= , >= , ==, != 
# bitwise --> <<, >>, ~, ^, &, |
# membership in, not in
# identity o/p is, is not