In [1]:
import sqlite3 as sql

In [2]:
db = sql.connect("test.db")

In [3]:
cmd = "create table users(email varchar(300) primary key,fname varchar(300), sname varchar(300),password varchar(500))"

In [4]:
cursor = db.cursor()

In [5]:
cursor.execute(cmd)

In [9]:
try : 
    cursor.execute(cmd)
except sql.OperationalError as e : 
    print("Errorr!!",e)

Errorr!! table users already exists

In [10]:
cmd = "insert into users values ('sachin@gmail.com','sachin','yadav','redhat@123')"

In [11]:
print(cmd)

insert into users values ('sachin@gmail.com','sachin','yadav','redhat@123')

In [12]:
cursor.execute(cmd)

In [13]:
email = input("Enter email addresss : ")
fname = input("Enter first_name : ")
lname = input("Enter last_name : ")
password = input("Enter Password : ")
cmd = f"insert into users values ('{email}','{fname}','{lname}','{password}') "
cursor.execute(cmd)

Enter email addresss : rajat@gmail.com
Enter first_name : rajat
Enter last_name : goyal
Enter Password : hello@123

In [14]:
f = open("grras_data.txt")
for line in f : 
    line = line.split(',')
    cmd = "insert into users values('{}','{}','{}','{}')".format(*line)
    print(cmd)
    cursor.execute(cmd)

insert into users values('nidhi@grras.com','nidhi','sharma','anything
')
insert into users values('kushal@grras.com','kushal','samota','helloworld')

In [15]:
db.commit()

In [16]:
cursor.close()

In [17]:
db.close()

In [1]:
import sqlite3 as sql 

db = sql.connect("test.db")
cursor = db.cursor()

In [2]:
cmd = "select * from users"

In [3]:
cursor.execute(cmd)

In [4]:
data = cursor.fetchall()

In [5]:
data

[('sachin@gmail.com', 'sachin', 'yadav', 'redhat@123'),
 ('rajat@gmail.com', 'rajat', 'goyal', 'hello@123'),
 ('nidhi@grras.com', 'nidhi', 'sharma', 'anything\n'),
 ('kushal@grras.com', 'kushal', 'samota', 'helloworld')]

In [25]:
cmd = "update users set password='Asimov' where email='sachin@gmail.com'"
print(cmd)

update users set password='Asimov' where email='sachin@gmail.com'

In [26]:
cursor.execute(cmd)

In [6]:
import os,json
import MySQLdb as sql
db=sql.connect(user='root',database='xyz',password='')

In [7]:
cursor=db.cursor()

In [8]:
cursor.execute("show tables")
cursor.fetchall()

(('bank',),)

In [9]:
file=os.listdir("D:\\data_science\\github\\fullstack_projects\\bank_with_database\\static\\data\\bank")

In [10]:
file

['nikhil123', 'sachin123']

In [11]:
for file in os.listdir("D:\\data_science\\github\\fullstack_projects\\bank_with_database\\static\\data\\bank"):
    path=os.path.join("D:\\data_science\\github\\fullstack_projects\\bank_with_database\\static\\data\\bank",file)
    f= open(path)
    data=json.load(f)
    print(data)
    value_list=[value for key,value in data.items()]
    print(value_list)
    cursor.execute("insert into bank(email,first_name,last_name,password,username,balance,account_number,phone_number) values('{}','{}','{}','{}','{}','{}','{}','{}')".format(*value_list))
    

"""This is to send all files into database."""

{'email': 'sharma91nikhil@gmail.com', 'first_name': 'nikhil', 'last_name': 'sharma', 'password': 'nikhil456', 'username': 'nikhil123', 'balance': 20000, 'account_number': '35104953062', 'phone_number': 9474123456}
['sharma91nikhil@gmail.com', 'nikhil', 'sharma', 'nikhil456', 'nikhil123', 20000, '35104953062', 9474123456]
{'first_name': 'sachin', 'last_name': 'yadav', 'balance': 30000, 'account_number': '11100011101', 'username': 'sachin123', 'password': 'sachin456', 'email': 'sachinyadav96@gmail.com', 'phone_number': 9414789456}
['sachin', 'yadav', 30000, '11100011101', 'sachin123', 'sachin456', 'sachinyadav96@gmail.com', 9414789456]

In [33]:

cursor.execute("select * from bank where username='rahul123'")
data=cursor.fetchone()

In [36]:
data

('rahul123',
 'rahul',
 'charan',
 33000,
 '11100011100',
 'rahul456',
 'charan7rahul@gmail.com',
 2147483647)

In [37]:
data[5]

'rahul456'

In [ ]:
db.commit