In [1]:
import sqlite3 as sql

In [2]:
db = sql.connect("test.db")

In [3]:
cmd = "create table users(email varchar(300) primary key,fname varchar(300), sname varchar(300),password varchar(500))"

In [4]:
cursor = db.cursor()

In [5]:
cursor.execute(cmd)

In [9]:
try : 
    cursor.execute(cmd)
except sql.OperationalError as e : 
    print("Errorr!!",e)

Errorr!! table users already exists

In [10]:
cmd = "insert into users values ('sachin@gmail.com','sachin','yadav','redhat@123')"

In [11]:
print(cmd)

insert into users values ('sachin@gmail.com','sachin','yadav','redhat@123')

In [12]:
cursor.execute(cmd)

In [13]:
email = input("Enter email addresss : ")
fname = input("Enter first_name : ")
lname = input("Enter last_name : ")
password = input("Enter Password : ")
cmd = f"insert into users values ('{email}','{fname}','{lname}','{password}') "
cursor.execute(cmd)

Enter email addresss : rajat@gmail.com
Enter first_name : rajat
Enter last_name : goyal
Enter Password : hello@123

In [14]:
f = open("grras_data.txt")
for line in f : 
    line = line.split(',')
    cmd = "insert into users values('{}','{}','{}','{}')".format(*line)
    print(cmd)
    cursor.execute(cmd)

insert into users values('nidhi@grras.com','nidhi','sharma','anything
')
insert into users values('kushal@grras.com','kushal','samota','helloworld')

In [15]:
db.commit()

In [16]:
cursor.close()

In [17]:
db.close()

In [18]:
import sqlite3 as sql 

db = sql.connect("test.db")
cursor = db.cursor()

In [27]:
cmd = "select * from users"

In [28]:
cursor.execute(cmd)

In [29]:
data = cursor.fetchall()

In [30]:
data

[('sachin@gmail.com', 'sachin', 'yadav', 'Asimov'),
 ('rajat@gmail.com', 'rajat', 'goyal', 'hello@123'),
 ('nidhi@grras.com', 'nidhi', 'sharma', 'anything\n'),
 ('kushal@grras.com', 'kushal', 'samota', 'helloworld')]

In [25]:
cmd = "update users set password='Asimov' where email='sachin@gmail.com'"
print(cmd)

update users set password='Asimov' where email='sachin@gmail.com'

In [26]:
cursor.execute(cmd)